.program-cell {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2; /* Adjust line-height as needed */
    height: 100%;
}

.program-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2; /* Adjust line-height as needed */
    height: 100%;
}

/* Ensure the sticky column remains sticky throughout horizontal scrolling */
.sticky-column {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 11;
    background-color: inherit;
}
